doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        title Edit User
        style.
            .form-container {
                display: flex;
                flex-wrap: wrap;
            }
            .form-group {
                flex: 1 1 45%; /* Adjust the width of the columns */
                margin: 10px;
            }
    body
        // Fixed Navbar
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
            a.navbar-brand(href="/users") Users App
            .collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/users") Users

        .container
            h1 Edit User
            form(action=`/users/edit/${user._id}` method="POST" class="form-container")
                .form-group
                    label(for="firstName") First Name
                    input.form-control(type="text" id="firstName" name="firstName" value=user.firstName)
                .form-group
                    label(for="lastName") Last Name
                    input.form-control(type="text" id="lastName" name="lastName" value=user.lastName)
                .form-group
                    label(for="dateOfBirth") Date of Birth
                    input.form-control(type="date" id="dateOfBirth" name="dateOfBirth" value=user.dateOfBirth.toISOString().split('T')[0])
                .form-group
                    label(for="address1") Address 1
                    input.form-control(type="text" id="address1" name="address1" value=user.address1)
                .form-group
                    label(for="address2") Address 2
                    input.form-control(type="text" id="address2" name="address2" value=user.address2)
                .form-group
                    label(for="city") City
                    input.form-control(type="text" id="city" name="city" value=user.city)
                .form-group
                    label(for="postalCode") Postal Code
                    input.form-control(type="text" id="postalCode" name="postalCode" value=user.postalCode)
                .form-group
                    label(for="country") Country
                    input.form-control(type="text" id="country" name="country" value=user.country)
                .form-group
                    label(for="phoneNumber") Phone Number
                    input.form-control(type="text" id="phoneNumber" name="phoneNumber" value=user.phoneNumber)
                .form-group
                    label(for="email") Email
                    input.form-control(type="email" id="email" name="email" value=user.email)
                .form-group(style="flex: 1 1 100%")
                    label(for="userNotes") User Notes
                    textarea.form-control(id="userNotes" name="userNotes")= user.userNotes
                .form-group(style="flex: 1 1 100%")
                    button.btn.btn-primary(type="submit") Save

            // Delete button form
            form(action=`/users/delete/${user._id}` method="POST" style="margin-top: 20px;")
                button.btn.btn-danger(type="submit") Delete User
