<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Users</title>
</head>
<body>
    <div class="container">
        <h1>Users</h1>
        <a href="/users/new" class="btn btn-primary">Add New User</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th style="min-width: 110px;">Date of Birth</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.firstName %></td>
                        <td><%= user.lastName %></td>
                        <td><%= user.dateOfBirth.toISOString().split('T')[0] %></td>
                        <td><%= user.address1 %> <%= user.address2 %></td>
                        <td><%= user.city %></td>
                        <td><%= user.postalCode %></td>
                        <td><%= user.country %></td>
                        <td><%= user.phoneNumber %></td>
                        <td><%= user.email %></td>
                        <td><%= user.userNotes %></td>
                        <td>
                            <a href="/users/edit/<%= user._id %>" class="btn btn-warning">Edit</a>
                            <form action="/users/delete/<%= user._id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>